target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/*
.idea/sonarlint/issuestore/**
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/ext/access-bridge.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/ext/access-bridge-32.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/accessibility.properties
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/ASSEMBLY_EXCEPTION
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/attach.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/AUTHORS
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/awt.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/security/blacklisted.certs
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/security/cacerts
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/calendars.properties
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/charsets.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/cmm/CIEXYZ.pf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/classlist
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/ext/cldrdata.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/content-types.properties
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/currency.data
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/images/cursors/cursors.properties
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSans.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSans-Bold.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSans-BoldOblique.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSans-ExtraLight.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSans-Oblique.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSansCondensed.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSansCondensed-Bold.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSansCondensed-BoldOblique.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSansCondensed-Oblique.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSansMono.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSansMono-Bold.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSansMono-BoldOblique.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSansMono-Oblique.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSerif.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSerif-Bold.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSerif-BoldItalic.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSerif-Italic.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSerifCondensed.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSerifCondensed-Bold.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSerifCondensed-BoldItalic.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/DejaVuSerifCondensed-Italic.ttf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/ext/dnsns.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/dt_shmem.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/dt_socket.dll
/out/artifacts/EmilyTool_jar/EmilyTool.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/flavormap.properties
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fontconfig.bfc
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fontconfig.properties.src
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/fontmanager.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/freetype.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/cmm/GRAY.pf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/hijrah-config-umalqura.properties
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/hprof.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/instrument.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/images/cursors/invalid32x32.gif
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/j2pcsc.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/j2pkcs11.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/jaas_nt.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/jabswitch.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/ext/jaccess.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/java.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/java.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/security/java.policy
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/security/java.security
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/java-rmi.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/java_crw_demo.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/JavaAccessBridge.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/JavaAccessBridge-32.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/javaw.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/jawt.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/JAWTAccessBridge.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/JAWTAccessBridge-32.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/jce.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/jdwp.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/jjs.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/jli.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/management/jmxremote.access
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/management/jmxremote.password.template
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/jpeg.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/jsdt.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/jsound.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/jsoundds.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/jsse.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/i386/jvm.cfg
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/server/jvm.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/jvm.hprof.txt
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/keytool.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/kinit.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/klist.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/ktab.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/lcms.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/LICENSE
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/LICENSE
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/cmm/LINEAR_RGB.pf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/security/policy/limited/local_policy.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/security/policy/unlimited/local_policy.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/ext/localedata.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/logging.properties
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/management.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/management/management.properties
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/management-agent.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/ext/meta-index
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/meta-index
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/mlib_image.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/msvcr100.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/ext/nashorn.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/net.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/net.properties
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/nio.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/npt.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/orbd.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/pack200.exe
/out/artifacts/EmilyTool_jar/新增資料夾/PDF轉換Word程式.exe
/out/artifacts/EmilyTool_jar/新增資料夾/PDF轉換Word程式.zip
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/policytool.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/psfont.properties.ja
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/psfontj2d.properties
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/cmm/PYCC.pf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/fonts/README
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/resources.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/rmid.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/rmiregistry.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/rt.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/sawindbg.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/servertool.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/management/snmp.acl.template
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/sound.properties
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/splashscreen.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/cmm/sRGB.pf
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/sunec.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/ext/sunec.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/ext/sunjce_provider.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/sunmscapi.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/ext/sunmscapi.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/ext/sunpkcs11.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/THIRD_PARTY_README
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/tnameserv.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/tzdb.dat
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/tzmappings
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/unpack.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/unpack200.exe
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/security/policy/limited/US_export_policy.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/security/policy/unlimited/US_export_policy.jar
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/verify.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/w2k_lsa_auth.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/images/cursors/win32_CopyDrop32x32.gif
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/images/cursors/win32_CopyNoDrop32x32.gif
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/images/cursors/win32_LinkDrop32x32.gif
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/images/cursors/win32_LinkNoDrop32x32.gif
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/images/cursors/win32_MoveDrop32x32.gif
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/images/cursors/win32_MoveNoDrop32x32.gif
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/WindowsAccessBridge.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/WindowsAccessBridge-32.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/server/Xusage.txt
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/bin/zip.dll
/out/artifacts/EmilyTool_jar/新增資料夾/jre8/lib/ext/zipfs.jar
/out/artifacts/EmilyTool_jar/轉換用XML.xml
/out/artifacts/EmilyTool_jar/轉換程式.zip
